.bg-blue-dark{
    background-color: #2c3e50;
}

.navbar-collapse{
    flex-grow: 0;
}

.sec1{
    background-color: #1abc9c;
}

.col-img img{
    width: 30%;
}

.color-wht{
    color: white;
}

.color-bl{
    color: #2c3e50;
}

.row-wht{
    background-color: white;
    height: 5px;
    width: 20%;
    border-radius: 10px;
    margin-top: 12px;
}

.row-bl{
    background-color: #2c3e50;
    height: 5px;
    width: 20%;
    border-radius: 10px;
    margin-top: 12px;
}

.cards-img img{
    width: 100%;
}

.cards-img{
    padding-bottom: 20px;
}

.star{
    margin: 20px 0;
}

.start{
    padding-top: 20px;
}

.job{
    margin-bottom: 20px;
}

.portf{
    padding-top: 30px;
}

.card-space{
    margin-bottom: 20px;
}

