.bg-blue-dark{
    background-color: #2c3e50;
}

.navbar-collapse{
    flex-grow: 0;
}

.sec1{
    background-color: #1abc9c;
}

.avatar-img img{
    width: 30%;
}

.color-wht{
    color: white;
}

.color-bl{
    color: #2c3e50;
}

.row-wht{
    background-color: white;
    height: 5px;
    width: 20%;
    border-radius: 10px;
    margin-top: 12px;
}

.row-bl{
    background-color: #2c3e50;
    height: 5px;
    width: 20%;
    border-radius: 10px;
    margin-top: 12px;
}

.cards-img img{
    width: 100%;
}

.cards-img,.col-free{
    padding-bottom: 20px;
}

.star,.btn-outline-light{
    margin: 20px 0;
}

.start{
    padding-top: 20px;
}

.job,.card-space{
    margin-bottom: 20px;
}

.portf,.about,.contact{
    padding-top: 30px;
}

.text-left{
    text-align: left;
}

.cont-width{
    width: 80%;
    margin: auto;
}

.fa-download{
    padding-right: 5px;
}

.btn-green{
    background-color: #1abc9c;
}

